@import "utils/styles/variables.module.scss";

.cabecalho {
    min-width: 100%;
    width: fit-content;
    &__navbar {
        background-color: $cor-principal;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.2em 1.5vw;
    }
}

.cabecalho__navbar_black {
    background-color: $cor-secundaria;
    
}

.favicon {
    display: none;
}

.logotipo{
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo {
    width: 60%;
}

.buttons {
    width: 33%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.links {
    text-decoration: none;
    color: $detalhe-escuro;
    opacity: 100%;
    transition: 0.2s;
}

.links_black {
    color: $branco;
}

.links:hover {
    opacity: 50%;
    transition: 0.2s;
}

.temaButton{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 33%;
}

.tema {
    display: flex;
    align-items: center;
    background-color: $cor-botao;
    padding: 0.2em;
    border-radius: 100%;
    opacity: 100%;
    transition: 0.2s;
    width: 5vh;
    height: 5vh;
}

.tema:hover {
    opacity: 50%;
    transition: 0.2s;
    cursor: pointer;
}

.imagem_tema {
    width: 100%;
}

.disable {
    display: none;
}

@media (max-width: 768px) {
    .logo{
        display: none;
    }

    .favicon{
        display: block;
        width: 35%;
    }

    .tema {
        width: 4vh;
        height: 4vh;
    }

    .links {
        font-size: 1.5rem;
        padding: 0 0.5em;
    }
}